.sidebarWrapper{
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f6085;
  padding: 1rem 0;
  
}
.hospital-sidebar-info{
  
  width: 19.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.sidebar-section{
  width: 19.6rem;
  gap: .5rem;
  display: flex;
  
  align-items: center;
  justify-content: center;
  padding: 1.2rem;

}

li{
  list-style: none;
}

.link-item{
  
  
  padding: .6rem .5rem;
  background-color: #07b17b;
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

.delete-account{
  width: 19.6rem;
  gap: 0;
  
  display: flex;
  align-items: center;
  
}
.delete-link{
  display: flex;
  
  justify-content: center;
  
  width: 50%;
  margin-top: 2rem;
}
.account-delete-btn{
  background-color: #dc3545;
  color: #fff;
  padding: 8px 16px;

  cursor: pointer;
  border: none;
  border-radius: 3px;
}
.account-delete-btn:hover {
  background-color: #bd2130;
}
.forgot-link{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.change-password-btn{
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.sidebar-footer{
  
  width: 19.6rem;
  
  padding: 1rem;
  margin-top: 3rem;
}
.user-role{
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 5rem;
  text-align: center;
}
@media (max-width: 768px) {
  .sidebarWrapper{
    width: 100%;
    
  }
  .sidebar-section{
    width: 100%;
    flex-direction: row;
    
  }
  .link-item{
  
  
  padding: .6rem 1.4rem;
  background-color: #07b17b;
  color: white;
  
  
  
  
  
}
.sidebar-footer{
  
  
  
  padding: .5rem;
  margin-top: 1rem;
}
.user-role{
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 2rem;
  text-align: center;
}
  
  
}
  








